<!-- Inserting the main content headings  -->
<!-- And making the title value as our h1 value with an if statement. -->
<% if (title) { %>
<h1 class="page_head"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- This is to display a validation failed messages -->
<% if (errors) { %>
<ul class="notice failed">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>



<!-- The account details update form -->
<div id="form_container" class="form_holder">

     <h2 class="reg">Edit Account Details.</h2>

     <p class="req">All fields are required</p>
 
    <form id="update_form" action="/account/update-profile" method="post" >

        <label for="fname" class="form label">First Name:</label>
        <input type="text" id="fname" class="form input" name="account_firstname" required value="<%= locals.account_firstname %>">

        <label for="lname" class="form label">Last Name:</label>
        <input type="text" id="lname" class="form input" name="account_lastname" required value="<%= locals.account_lastname %>">

        <label for="email" class="form label">Email:</label>
        <input type="email" id="email" class="form input" name="account_email" required value="<%= locals.account_email %>">

        <input type="hidden" name="account_id" value="<%= locals.account_id %>" />
 
        <input type="submit" id="update_in" class="form_done" name="submit_button" value="Apply Update">
    </form>


<!-- The account password update form -->

    <h2 class="reg">Change Password</h2>

     <p class="req">Field is required</p>
 
    <form id="change_form" action="/account/change-password" method="post" >
        <p class="pattern">
            Please, note that if you enter a new 
            password and click the change password 
            button it will update your previous password.
        </p>

        <label for="password" class="form label">Password:</label>
        <input type="password" id="password" class="form input" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

        <p class="pattern">Password must be a minimum of 12 character in lenght, at least 1 capital letter,
            at least 1 number, and at least 1 special character.
        </p>

        <span id="show_p" class="show_password">Show Password</span>
        
        <input type="hidden" name="account_id" value="<%= locals.account_id %>" />
       
        <input type="submit" id="change_p" class="form_done" name="submit_button" value="Change Password">
    </form>

</div>




<script src="../../js/script.js"></script>