<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>
  </header>

  <main>
    <h1><%= status %> Error</h1>
    <p><%= message %></p>
    <a href="/">Return Home</a>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>
